body{
	margin: 0px;
}

.header {
	background-color: #f66;
	height: 70px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-position: center;
}

.conteudo{
	margin: 20px;
	color: #777;
}

.titulo-confirmacao-presenca, .titulo-confirme-presenca, .titulo-confirmacao-lista{
	margin-left: auto;
	margin-right: auto;	
}

.titulo-confirmacao-presenca{
	width: 345px;
}

.titulo-confirme-presenca{
	width: 545px;
}

.titulo-confirmacao-lista{
	width: 310px;
}

.lista{
	margin-top: 20px;
}

.formulario{
	margin-top: 10px;
}

.nomes-noivos{
	color: #f66;
}

#conteudo-modal{
	word-wrap: break-word;
}

label {
    margin-top: 10px;
}

.botao{
	margin-top: 10px;
}

.container-centralizado {
    position: absolute;
    width: 400px;
    height: 300px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -200px;
    text-align: center;
  }

.icone-sucesso{
    width: 250px;
}

.texto-successo{
    font-size: 28px;
    color: #f66;
}
